<!DOCTYPE html>
<html>
<head>
    <title>Bill</title>
</head>
<body>
    <div style="text-align: center; font-family: sans-serif; background-color: green; padding-bottom: 20px; border-radius: 10px; padding-top: 10px;">
        <h2 style="color: yellow;">Bill Gates's story!</h2>
        <p style="color: deepskyblue;">
            Bill Gates is a technologist, business leader, and philanthropist. 
            He grew up in Seattle, Washington, with an amazing and supportive 
            family who encouraged his interest in computers at an early age. 
            He dropped out of college to start Microsoft with his childhood 
            friend Paul Allen.
            <div style="color: red; font-family: sans-serif;">
                {% extends 'base.html' %}
                {% block content %}
                {% endblock content %}
            </div>
        </p>
    </div>
</body>
</html>